/* HEADER STYLES */

// Horizontal dividers
@mixin nav-divider {
  padding-left: 1em;
  > a {
    color: silver;
  }
  &:before {
    content: "|";
  }
}

nav {
  .navbar-collapse {
    .navbar-nav {
      .vertical-line {
        @include nav-divider;
      }
    }
  }
}

/* VERTICAL NAV STYLES */
.container-fluid {
  .row {
    .vertical-nav {
       background-color: rgb(0, 79, 125);

    }
  }
}
