/* HEADER STYLES */

// Horizontal dividers
@mixin nav-divider {
  padding-left: 1em;
  > a {
    color: silver;
  }
  &:before {
    content: "|";
  }
}

nav {
  .navbar-collapse {
    .navbar-nav {
      .vertical-line {
        @include nav-divider;
      }
    }
  }
}
